.topnav {
    background: image(img.tiger) ;
    background-color:#d17c21;
    overflow: auto;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(255, 236, 214);
    color: black;
    border-radius: 5%;
}
#tiger{
height: auto;
width: 65%;
}
#hed{
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    font-family: 'Noto Nastaliq Urdu', serif;
}
#top{
    justify-content: center;
    display: flex;
}
.text{
    position: relative
    absolute
}
body{
    background-color:#d17c21;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 1px ;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
top{
    font-family: 'Noto Nastaliq Urdu', serif;  
}
#bild{
    border-radius: 1%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.card{
    width:300px;
    text-align: center;
    font-family: 'Noto Nastaliq Urdu', serif;
}
.cards {
    background-color: #fdd7b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 14px 16px;
 }
 .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}    
    &amp;amp;nbsp; 
}
p {
    display: flex;
   justify-content: center;
}
p {
    font-size: 2rem;
    text-align: center;
}